html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #d3d3d3;  
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}


#container {
  display: grid;
  height: 100vh;
  grid-template-columns: auto 300px;
  --header-height: 50px;
  --footer-height: 30px;
  grid-template-rows: var(--header-height) auto var(--footer-height);
  grid-template-areas: 
    "header header"
    "canvas sidebar"
    "footer footer";
}

#header, #footer {
  background: #434343;
  color: white;
  text-align: center;
}

#header {
  grid-area: header;
  line-height: var(--header-height) ;
}

#footer {
  grid-area: footer;
  line-height: var(--footer-height) ;
}

#canvas {
  grid-area: canvas;
  border: 2px solid black;
}

#svg {
  width: 100%;
  height: 100%;
}

#side-bar {
  grid-area: sidebar;
  background: #a3a3a3;
  border: 2px solid black;
  border-left: none;
}
